.chordsContainer{
    position: relative;
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/51t%2Bo%2BZtRxL._AC_.jpg');
    width: 100%;
    height: 30px;
    border: black thin solid;
    background-size: contain;
}